@font-face {
  font-family: Bank-Gothic;
  src: url("./Assets/Fonts/BankGothic\ Regular.ttf");
}

@font-face {
  font-family: Bank-Gothic;
  src: url("./Assets/Fonts/BankGothic\ Bold.ttf");
  font-weight: bold;
}


